<div class="card border-primary mb-3">
  <form class="form-addressAdd" [formGroup]="addressAddForm" (ngSubmit)="addAddress()">
    <div class="form-group row">
      <div id="eleman">

      </div>
      <label class="col-sm-4 col-form-label mt-3">Name:</label>
      <div class="col-sm-8 mt-3">
        <input type="text" formControlName="name" class="form-control-plaintext is-invalid" placeholder="First Name" />
        <div class="invalid-feedback"
          *ngIf="addressAddForm.get('name').hasError('minlength') && addressAddForm.get('name').touched">
          Name must be at least 2 characters long.
        </div>
        <div class="invalid-feedback" *ngIf="addressAddForm.get('name').hasError('maxlength')">
          Last Name cannot be longer than 15 characters.
        </div>
        <div class="invalid-feedback"
          *ngIf="addressAddForm.get('name').hasError('pattern') && addressAddForm.get('name').touched">
          First letter must upper case.
        </div>
        <div class="invalid-feedback"
          *ngIf="addressAddForm.get('name').hasError('required') && addressAddForm.get('name').touched">
          Name is required.
        </div>
      </div>
      <label class="col-sm-4 col-form-label mt-3">Last Name:</label>
      <div class="col-sm-8 mt-3">
        <input type="text" formControlName="lastName" class="form-control-plaintext is-invalid"
          placeholder="Last Name" />
        <div class="invalid-feedback"
          *ngIf="addressAddForm.get('lastName').hasError('minlength') && addressAddForm.get('lastName').touched">
          Last Name must be at least 3 characters long.
        </div>
        <div class="invalid-feedback" *ngIf="addressAddForm.get('lastName').hasError('maxlength')">
          Last Name cannot be longer than 20 characters.
        </div>
        <div class="invalid-feedback"
          *ngIf="addressAddForm.get('lastName').hasError('pattern') && addressAddForm.get('lastName').touched">
          First letter must upper case.
        </div>
        <div class="invalid-feedback"
          *ngIf="addressAddForm.get('lastName').hasError('required')  && addressAddForm.get('lastName').touched">
          Last Name is required.
        </div>
      </div>
      <label class="col-sm-4 col-form-label mt-3">Phone Number:</label>
      <div class="col-sm-8 mt-3">
        <input type="text" formControlName="phoneNumber" class="form-control-plaintext is-invalid"
          placeholder="Phone Number" />
        <div class="invalid-feedback"
          *ngIf="addressAddForm.get('phoneNumber').hasError('required') && addressAddForm.get('phoneNumber').touched">
          Phone Number is required.
        </div>
        <div class="invalid-feedback" *ngIf="addressAddForm.get('phoneNumber').hasError('minlength')">
          Phone Number must be at least 8 characters long.
        </div>
        <div class="invalid-feedback" *ngIf="addressAddForm.get('phoneNumber').hasError('maxlength')">
          Phone number cannot be longer than 12 characters.
        </div>
        <div class="invalid-feedback" *ngIf="addressAddForm.get('phoneNumber').hasError('pattern')">
          Phone number is invalid
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block mt-4" [disabled]="!addressAddForm.valid">
        Add
      </button>
    </div>
  </form>
</div>
